<div class="backstage">


  <%= render '/backstage/sidebar' %>
    <section id="main-dashboard-content">
      <section id="top-section">


  <div class="row">
    <div class="col-sm-6">
      <h1>Photos</h1>
    </div>
    <div class="col-sm-6 text-right" style="display: flex">
    <%= link_to edit_backstage_press_kit_path(@press_kit), class: '' do %>
      &lt; &lt; Press Kit
    <% end %>&nbsp;&nbsp;
    <%= link_to new_backstage_press_kit_photo_path, class: 'btn btn-primary' do %>
      Add New Photo
    <% end %>
    </div>

  </div>
</section>
<section>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
      

              
            <th>Image</th>
            <th>Link</th>
          
        </tr>
      </thead>

      <tbody>
        <% @press_kit_photos.each do |photo| %>
          <%= content_tag :tr, id: dom_id(photo), class: dom_class(photo) do %>
            

            
            
              <td>
                  <% if photo.image.attached? %>
                    <%= link_to (image_tag photo.image, style: "max-width: 100px"), backstage_press_kit_photo_path(photo) %>
                  <% end %>            
              </td>
              <td><%= link_to 'Show', backstage_press_kit_photo_path(photo) %></td>
            
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  </section>
  </section>
</div>