


<div class="row">
  <div class="col-sm-6">
    <h1>Theme Avatars</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to  new_broadcaster_theme_theme_avatar_path, class: 'btn btn-primary' do %>
    Add New Theme Avatar
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Avatar Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @broadcaster_theme_avatars.each do |broadcaster_theme_avatar| %>
        <%= content_tag :tr, id: dom_id(broadcaster_theme_avatar), class: dom_class(broadcaster_theme_avatar) do %>
          

          <td>
            <%= link_to  edit_broadcaster_avatar_path(broadcaster_theme_avatar.broadcaster_avatar), class: '' do %>
              Edit <%= broadcaster_theme_avatar.broadcaster_avatar.name %>'s details
            <% end %>
          </td>
          <td><%= link_to 'Show & Edit Relationship', broadcaster_theme_avatar %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
      <%= link_to "<< #{@theme.title}", broadcaster_theme_path(@theme) %>

</div>
