<%= form_with(model: [ :backstage, press_kit], local: true) do |form| %>
  <% if press_kit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(press_kit.errors.count, "error") %> prohibited this press_kit from being saved:</h2>

      <ul>
      <% press_kit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :billboard_image_title %>
    <%= form.text_field :billboard_image_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :billboard_image_url %>
    <%= form.url_field :billboard_image_url, 
                    class:'form-control styled',
                    placeholder:"https://example.com",
                    pattern:"https://.*",
                    minlength:"7",
                    size:"22",
                    title: "URL must be a secure link"
    %>            

  </div>


  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control styled' %>
  </div>

  <div class="form-group">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date, :start_year => Date.current.year, :end_year => 1920 %>
  </div>

  <div class="form-group">
    <%= form.label :birthplace %>
    <%= form.text_field :birthplace, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :biography %>
    <%= form.rich_text_area :biography, class: 'form-control' %>
  </div>

    <%= form.submit class: 'btn btn-primary' %>

    <% if press_kit.persisted? %>
      <%= link_to "Cancel", backstage_site_index_path, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", backstage_site_index_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>

