<%= render 'headline' %> 
<div class="gv-post-author row">
    <%= render partial: 'author', locals: {author: blog_article.user } %>

    <%= render 'sharing_top_bar' %>
</div>
<%= render  partial: 'entry_content', locals: {blog_article: blog_article} %>

<div class="ct-post-footer">
    <%= render 'post_sharing' %>
    <%#= render 'entry_comments' %>
    <%= render 'entry_tags' %>
</div>

<!--<div class="ct-post-suggested">
    <h3 class="ct-h-welter50">
        Check this out
    </h3>
    <%#= render 'suggested_entry' %>
</div>  -->
                