
<%= render 'headline' %> 
<% if   @blog_entry.article.present? %>

<div class="gv-post-author row">
        <%= render partial: 'author',
        locals: {blog_article: @blog_entry.article} %>      
    <%#= render 'sharing_top_bar' %>
</div>
    <%= render  partial: 'entry_content', 
    locals: {blog_article: @blog_entry.article} %>
<% else %>
    <h4>no article attached</h4>
    <%= link_to 'Create and attach article', new_blog_article_path %>
<% end %>


<div class="ct-post-footer">
    <%#= render 'post_sharing' %>
    <%#= render 'entry_comments' %>
    <div class="ct-post-tags">
        <a href="https://www.garyvaynerchuk.com/category/business/" class="link-blue">#Business</a>
        <a href="https://www.garyvaynerchuk.com/category/leadership/" class="link-blue">#Leadership</a>
        <%= render partial: "blog/entries/entry", 
        collection: @blog_entry.tag_list, 
        as: :entry_tag %>

    </div>

    <%#= render 'entry_tags', locals  %>
    <%#= render  partial: 'entry_content', 
    locals: {tag_list: @blog_entry.tag_list} %>    
        <%#= render partial: "blog/entries/entry", 
        collection: Blog::Entry.featured_2nd_and_3rd, 
        as: :entry %>
</div>
<div class="ct-post-suggested">
    
    <% if !@blog_entry.recommended_entries.blank? %>
        <h3 class="ct-h-welter50">
            Check this out
        </h3>
        <%= render  partial: "blog/recommended_entries/recommended_entry", 
                    collection: @blog_entry.recommended_entries, 
                    as: :recommended_entry %>
    <% end %>
    
</div>
                