    <% @reading_time = 4# @article.reading_time %>
    <article class=
    "ct-post post-8321 post type-post status-publish format-standard has-post-thumbnail hentry category-social-media tag-content-creation tag-content-distribution tag-content-marketing tag-content-production tag-content-strategy tag-gary-vaynerchuk-social-media-marketing tag-gary-vaynerchuk-social-media-strategy tag-garyvee-content-model tag-garyvee-social-media-marketing tag-garyvee-social-media-strategy tag-social-media tag-social-media-marketing tag-social-media-optimization tag-social-media-strategy"
             id="post-8321">
      <div class="ct-post-img">
        <%= link_to entry do %>
          <% entry_image = !entry.image.blank? ? entry.image : "https://via.placeholder.com/768x614" %>

          <%= image_tag entry_image, size: "768x614" %>
        
        <% end %>
        <%# 
        <a href="https://www.garyvaynerchuk.com/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/">
          <img alt=""
             class="attachment-large size-large wp-post-image"
             sizes="(max-width: 700px) 100vw, 700px"
             src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-700x560.png"
             srcset=
             "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-700x560.png 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-250x200.png 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-768x614.png 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-120x96.png 120w">
        </a>  %>
      </div>
      <div class="row clearfix ct-post-sharemeta">
        <div class="col-sm-5 col-md-6 ct-post-tags">
          <a class="link-blue"
               href="https://www.garyvaynerchuk.com/category/social-media/">
              #Social Media
          </a> 
          <a class="ct-btn ct-btn-white ct-post-mobileshare pull-right visible-xs-inline-block"
              data-permalink="https://www.garyvaynerchuk.com/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/"
              href="#">
            Share 
          </a>
        </div>
        <%= render '/blog/article_sharing_bar' %>
      </div>
      <div class="row clearfix">
        <div class="col-sm-6">
          <h1 class="ct-ctrl-title ct-post-title ct-liner-simple">
            <%= link_to entry.title, entry %>
          </h1>
        </div>
        
        <div class="col-sm-6 text-left">
          <h5 class="ct-h-slab ct-post-date">
            <%= time_ago_in_words(entry.created_at) %> ago&nbsp;
            <span class="middot">·</span><%= entry.article.reading_time || 1 %>  min read
          </h5>
          <% entry_body_intro = !entry.article.blank? ? strip_tags(entry.article.body.to_s).truncate(270) : "no article attached" %>

          <p><%= entry_body_intro  %></p>
          <p>
            <%= link_to entry, class: "ct-post-permalink link-blue" do %>
                Read More &gt;&gt;
            <% end %>          
          </p>
        </div>
      </div>
    </article>
