<div class="page-header">
  <%= link_to blog_entries_path, class: 'btn btn-default' do %>
    All Blog_entries
  <% end %>
  <%= link_to edit_blog_entry_path(@blog_entry), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show blog_entry</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @blog_entry.title %></dd>
  <dd>
    <% if @blog_entry.image.attached? %>
      <%= image_tag @blog_entry.image %>
    <% end %>
  </dd>

  <dd>
    <% if @blog_entry.blog_articles.count > 0 %>
      <%= @blog_entry.blog_articles.first.body %>
    <% end %>

  </dd>
</dl>
