<%= form_with(model: meetup, local: true) do |form| %>
  <% if meetup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meetup.errors.count, "error") %> prohibited this meetup from being saved:</h2>

      <ul>
      <% meetup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :more_info_url %>
    <%= form.text_area :more_info_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if meetup.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', meetup, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if meetup.persisted? %>
      <%= link_to "Cancel", meetup, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", meetups_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
