<%= form_with(model: broadcaster_avatar, local: true) do |form| %>
  <% if broadcaster_avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(broadcaster_avatar.errors.count, "error") %> prohibited this broadcaster_avatar from being saved:</h2>

      <ul>
      <% broadcaster_avatar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if broadcaster_avatar.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', broadcaster_avatar, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if broadcaster_avatar.persisted? %>
      <%= link_to "Cancel", broadcaster_avatar, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", broadcaster_avatars_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
