<div class="page-header">
  <%= link_to blog_cards_path, class: 'btn btn-default' do %>
    All Blog_cards
  <% end %>
  <%= link_to edit_blog_card_path(@blog_card), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show blog_card</h1>
</div>

<dl class="dl-horizontal">
  <dt>Blog list:</dt>
  <dd><%= @blog_card.list.name %></dd>

  <dt>Name:</dt>
  <dd><%= @blog_card.name %></dd>

  <dt>Position:</dt>
  <dd><%= @blog_card.position %></dd>
</dl>

<dl>
    <dt>
      <% if @blog_card.image.attached? %>
          <%= link_to 'link to image', url_for(@blog_card.image), id: "imagelink" %>&nbsp;&nbsp;
          <button onclick="copyToClipboard('#imagelink')" class="btn btn-primary">Copy link to image</button>

      <% end %>
    </dt>
    <dd>
    <% if @blog_card.image.attached? %>

      <%= link_to url_for(@blog_card.image) do  %>
        <%= image_tag @blog_card.image %>
      <% end %>
      
    <% else %>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpj0DBTVsaja01_xWh37bcutvpd7rh7zEd528HD0d_l6A73osY" 
        width="280"
      />
      <br />
      <p>blog_card missing</p>
    <% end %>
    
    </dd>


</dl>
