<div class="page-header">
  <%= link_to blog_cards_path, class: 'btn btn-default' do %>
    All Blog_cards
  <% end %>
  <%= link_to edit_blog_card_path(@blog_card), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show blog_card</h1>
</div>

<dl class="dl-horizontal">
  <dt>Blog list:</dt>
  <dd><%= @blog_card.blog_list %></dd>

  <dt>Name:</dt>
  <dd><%= @blog_card.name %></dd>

  <dt>Position:</dt>
  <dd><%= @blog_card.position %></dd>

</dl>
