<%= form_with(model: [ :backstage, meetup_info], local: true) do |form| %>
  <% if meetup_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meetup_info.errors.count, "error") %> prohibited this meetup_info from being saved:</h2>

      <ul>
      <% meetup_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= form.label :billboard_image_title %>
    <%= form.text_field :billboard_image_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :billboard_image_url %>
    <%= form.url_field :billboard_image_url, 
                    class:'form-control styled',
                    placeholder:"https://example.com",
                    pattern:"https://.*",
                    minlength:"7",
                    size:"22",
                    title: "URL must be a secure link"
    %>            

  </div>



    <%= form.submit class: 'btn btn-primary' %>

    <% if meetup_info.persisted? %>
      <%= link_to "Cancel", backstage_site_index_path, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", backstage_site_index_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>

