<style>
  .grid-1-1-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }


</style>
<div class="backstage">


<%= render '/backstage/sidebar' %>

    <section id="main-dashboard-content">
      <section id="top-section">
        <h1>PublisherAccounts#index</h1>
        <%= link_to 'new', 
            new_backstage_publisher_acct_path, 
            class: "btn btn-primary" %>
      </section>
      <section class="flexgrid">
        <% @publisher_accts.each do |acct| %>
        <div class="item">
          <p >
            <i class="<%= acct.font_awesome_class %> "></i> 
            <%= link_to acct.name, edit_backstage_publisher_acct_path(acct.id) %>
          </p>
          <p ><%= acct.network_kind %> </p>            
          <p ><%= acct.blurb %></p>
        </div>        
        <% end %>
              

      </section>
    </section>

</div>

