<div class="col-lg-4 ct-global-sidebar">
    <%= render '/shared/aside/subscribe_widget' %>
    <%= render '/shared/aside/social_btns' %>
    <%= render '/shared/aside/featured_blog_entry' %>
    <%= render '/shared/aside/featured_blog_entry' %>
    <%= render '/shared/aside/featured_blog_entry' %>

    <div class="clearfix"></div>

    
    <%= render '/shared/aside/meetups' %>
</div>
<!-- finish global-sidebar -->