<%= form_with(model: lead, local: true) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email_address %>
    <%= form.text_field :email_address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :subject %>
    <%= form.text_field :subject, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :message_body %>
    <%= form.text_area :message_body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if lead.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', lead, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if lead.persisted? %>
      <%= link_to "Cancel", lead, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", leads_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
