<div id="ct-sect-kit" class="ct-section ct-section-invert">
    <div class="container">
        <div class="row">
            <h2 class="h1">Stay In Touch With Me.</h2>
            <div id="gv_widgets_socialprops-5" class="ct-widget ct-widget-socialprops clearfix text-center"><div class="sidebar-c-9">
            <div class="col-sm-3 col-md-3 text-center">
                <div class="ct-widget-unit home">
                    <a class="sp-circle sp-circle-lg sp-circle-invert sp-mobile" href="https://open.spotify.com/show/7zkNXS6pqQPXSUnceIW4VE" alt="" target="_blank">
                        <%= icon('fas', 'mobile-alt') %>
                    </a>
                                        <h6 class="ct-h-slab ct-h-slab-normal">My exclusive texting community. Send me a text at +1-212-931-5731</h6>
                                    </div>
            </div>

        
            <div class="col-sm-3 col-md-3 text-center">
                <div class="ct-widget-unit home">
                    <a class="sp-circle sp-circle-lg sp-circle-invert sp-instagram" href="http://instagram.com/garyvee" alt="" target="_blank">
                        <%= icon('fab', 'instagram') %>
                    </a>
                                        <h6 class="ct-h-slab ct-h-slab-normal">My biggest platform! Motivation, quotes, stories, and more.</h6>
                                    </div>
            </div>

        
            <div class="col-sm-3 col-md-3 text-center">
                <div class="ct-widget-unit home">
                    <a class="sp-circle sp-circle-lg sp-circle-invert sp-youtube" href="https://www.youtube.com/user/garyvaynerchuk?sub_confirmation=1" alt="" target="_blank">
                        <%= icon('fab', 'youtube') %>

                    </a>
                                        <h6 class="ct-h-slab ct-h-slab-normal">Documenting my life through #WeeklyCee &amp; #GoCarlGo ;)</h6>
                                    </div>
            </div>

        
            <div class="col-sm-3 col-md-3 text-center">
                <div class="ct-widget-unit home">
                    <a class="sp-circle sp-circle-lg sp-circle-invert sp-facebook" href="http://facebook.com/gary" alt="" target="_blank">
                        <%= icon('fab', 'facebook-f') %>

                    </a>
                                        <h6 class="ct-h-slab ct-h-slab-normal">Some of my best and most classic content. </h6>
                                    </div>
            </div>

        
            <div class="col-sm-3 col-md-3 text-center">
                <div class="ct-widget-unit home">
                    <a class="sp-circle sp-circle-lg sp-circle-invert sp-twitter" href="http://twitter.com/garyvee" alt="" target="_blank">
                        <%= icon('fab', 'twitter') %>
                    </a>
                                        <h6 class="ct-h-slab ct-h-slab-normal">One of the most direct ways to reach me - hit me up @GaryVee!</h6>
                                    </div>
            </div>

        
            <div class="col-sm-3 col-md-3 text-center">
                <div class="ct-widget-unit home">
                    <a class="sp-circle sp-circle-lg sp-circle-invert sp-snapchat" href="http://snapchat.com/add/garyvee" alt="" target="_blank">
                        <%= icon('fab', 'snapchat-ghost') %>
                    </a>
                                        <h6 class="ct-h-slab ct-h-slab-normal">An inside look at my life through stories.</h6>
                                    </div>
            </div>

        
            <div class="col-sm-3 col-md-3 text-center">
                <div class="ct-widget-unit home">
                    <a class="sp-circle sp-circle-lg sp-circle-invert sp-linkedin" href="https://www.linkedin.com/in/garyvaynerchuk" alt="" target="_blank">
                        <%= icon('fab', 'linkedin') %>
                    </a>
                                        <h6 class="ct-h-slab ct-h-slab-normal">My learnings and perspectives from building big businesses!</h6>
                                    </div>
            </div>

        
            <div class="col-sm-3 col-md-3 text-center">
                <div class="ct-widget-unit home">
                    <a class="sp-circle sp-circle-lg sp-circle-invert sp-podcast" href="https://www.garyvaynerchuk.com/podcast/" alt="" target="_blank">
                        <%= icon('fas', 'podcast') %>
                    </a>
                                        <h6 class="ct-h-slab ct-h-slab-normal">Perfect for your commute. Listen daily to keynotes, interviews, rants, business meetings, and more.</h6>
                                    </div>
            </div>

        
            <div class="col-sm-3 col-md-3 text-center">
                <div class="ct-widget-unit home">
                    <a class="sp-circle sp-circle-lg sp-circle-invert sp-music" href="https://www.tiktok.com/@garyvee" alt="" target="_blank">
                        <i class="fas fa-music"></i>
                    </a>
                                        <h6 class="ct-h-slab ct-h-slab-normal">Get a glimpse of some of my funnier moments on TikTok</h6>
                                    </div>
            </div>

        </div></div>        </div>
    </div>
</div>