<h1>Welcome to Jumpstart!</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

<%= render 'hero' %>
<%= render 'pinned_blog_entries' %>
<%= render 'stay_in_touch_with_me' %>
<%= render 'upcoming_meetups' %>
<%= render 'contact_me_form' %>