<%# billboard is removed for now because js bug and content is not ready.%>
<%#= render 'billboard' %>
<div class="ct-content-wrapper no-padding meat">
  <%= render 'mailing_list_cta_widget' %>
  <%= render 'index__about_me' %>
  <%= render 'media_appearances' %>
  <%= render 'pinned_blog_entries' %>
</div>
<%= render 'stay_in_touch_with_me' %>
<div class="gv-section"
      id="gv-sect-events">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="clearfix"></div>
        <%= render 'upcoming_meetups' %>
      </div>
      <div class="col-lg-6 col-md-push-1">
      <!-- START INNER -->

                <h3 class="h1 gv-liner-simple">Want to get in touch with me?</h3>
                <div id="gform_widget-2" class="gform_widget">
                <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_1"><div id="gf_1" class="gform_anchor" tabindex="-1"></div>
                  <%# contact form here %>
                  <%= render '/shared/lead_form', lead: @lead %>
                </div>
              </div>            
      <!-- FINISH INNER-->

      </div>
    </div>
  </div>
</div>
