
<%= render 'billboard' %>

<div class="ct-content-wrapper no-padding meat">
    <%= render 'mailing_list_cta_widget' %>
    <%= render 'index__about_me' %>
    <%= render 'media_appearances' %>
    <%= render 'pinned_blog_entries' %>
</div>
<%= render 'stay_in_touch_with_me' %>
<br>
<%= render '/shared/upcoming_meetups_widget' %>
<br>
<%= render '/shared/contact_me_form' %>