<%= render 'billboard' %>
  <div class="ct-content-wrapper no-padding meat">
    <%= render 'mailing_list_cta_widget' %><%= render 'index__about_me' %><%= render 'media_appearances' %><%= render 'pinned_blog_entries' %>
  </div><%= render 'stay_in_touch_with_me' %>
  <div class="gv-section"
       id="gv-sect-events">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="clearfix"></div>
          <%= render 'upcoming_meetups' %>
        </div>
        <div class="col-md-6 col-md-push-1">
            <%# contact form here %>
            <%= render 'contact_form' %>
        </div>
      </div>
    </div>
  </div>
