<%
 data_uppy = "#{model.model_name.singular }" + '[' + "#{image_attribute}" + ']'

 model_name = model.model_name.singular
 model_image_attribute_name     = "#{model_name}" + '_' + "#{image_attribute}"
%>


  <div class="col-4">
    <div class="form-group" data-uppy="<%= data_uppy %>">
      <label for="<%= model_image_attribute_name %> ">
        <%= model.send(image_attribute).name.titleize %>
      </label>
      <%= link_to "#", data: { behavior: "uppy-trigger" } do %>
        <% if model.send(image_attribute).attached? %>
          <%= image_tag model.send(image_attribute), width: 280, data: { behavior: 'uppy-preview' } %>
        <% else %>
          <%= image_tag "svgs/image-regular.svg", 
                width: 280, 
                data: { behavior: 'uppy-preview' }  %>
        <% end %>
      <% end %>
      <p>(click image to upload replacement)</p>
    </div>
  
  </div>

