<div class="page-header">
  <%= link_to home_infos_path, class: 'btn btn-default' do %>
    All Home_infos
  <% end %>
  <%= link_to edit_home_info_path(@home_info), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show home_info</h1>
</div>

<dl class="dl-horizontal">
  <dt>Biography blurb:</dt>
  <dd><%= @home_info.biography_blurb %></dd>

  <dt>Video billboard url:</dt>
  <dd><%= @home_info.video_billboard_url %></dd>

  <dt>Watch this video url:</dt>
  <dd><%= @home_info.watch_this_video_url %></dd>

  <dt>Site:</dt>
  <dd><%= @home_info.site %></dd>

</dl>
