<div class="backstage">


<%= render '/backstage/sidebar' %>

    <section id="main-dashboard-content">
      <section id="top-section">
        <h1>Backstage::Books <%= "(#{@books.count})" %></h1>
        <%= link_to 'new', 
            new_backstage_book_path, 
            class: "btn btn-primary" %>
      </section>
      <section class="flexgrid">
        <% @books.each do |book| %>
          <div class="item">
            <p>
              title: <%= link_to book.title, edit_backstage_book_path(book) %>
            </p>
            <p>By: <%= book.byline %> </p>            
            <p>
              <% if book.jacket_location %>
                <%= image_tag book.jacket_location %>
              <% else %>
                image 
              <% end %>
            </p>
        </div>
        <% end %>
              

      </section>
    </section>

</div>

<%# 
=> Book(id: integer, title: string, byline: string, description: string, created_at: datetime, updated_at: datetime, jacket_location: text)

%>
