


<div class="row">
  <div class="col-sm-6">
    <h1>Broadcaster_audios</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to  new_broadcaster_theme_audio_path, class: 'btn btn-primary' do %>
    Add New Audio
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Broadcaster theme</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @broadcaster_audios.each do |broadcaster_audio| %>
        <%= content_tag :tr, id: dom_id(broadcaster_audio), class: dom_class(broadcaster_audio) do %>
          

                      <td><%= broadcaster_audio.title %></td>
                      <td><%= broadcaster_audio.broadcaster_theme.title %></td>
          
          
            <td><%= link_to 'Show', broadcaster_audio %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
