    <section id="sidebar">
      <section class="title-container">
        <img src="https://raw.githubusercontent.com/stuyy/dashboard-ui-grids/master/speedometer.svg" width="40px" alt="logo" />
        <h1>Arizona Analytics</h1>
      </section>
      <section class="links-container">
        <div class="links">
          <div class="icon">
            <i class="fas fa-house-user"></i>
          </div>
          <span>
            <%= link_to 'Dashboard', backstage_index_url %>
          </span>
        </div>
        <div class="links">
          <div class="icon">
            <i class="fas fa-chart-bar"></i>
          </div>
          <span>Analytics</span>
        </div>
        <div class="links">
          <div class="icon">
            <i class="fas fa-comments"></i>
          </div>
          <span>
            <%= link_to 'messages', backstage_messages_path %>                              
          
          </span>
        </div>
        <div class="links">
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
          <span>
            <%= link_to 'merchandise', backstage_merchandise_links_path %>                              
          </span>
        </div>

        <div class="links">
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
          <span>
            <%= link_to 'settings', backstage_settings_path %>          
          </span>
        </div>


        <div class="links">
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
          <span>
            <%= link_to 'agenda', backstage_agenda_index_path %>
          </span>
        </div>

        <div class="links">
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
          <span>
            <%= link_to 'blog hub', backstage_blog_hub_index_path %>
          </span>
        </div>
        <div class="links">
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
          <span>
            <%= link_to 'books', backstage_books_path %>          
          </span>
        </div>
        <div class="links">
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
          <span>
            <%= link_to 'events', backstage_meetups_path %>          
          
          </span>
        </div>
        <div class="links">
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
          <span>
            <%= link_to 'media appearances', backstage_media_appearances_path %>                    
          </span>
        </div>
        <div class="links">
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
          <span>
            <%= link_to 'merchandise', backstage_merchandise_links_path %>                              
          </span>
        </div>
        <div class="links">
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
          <span>
            <%= link_to 'wallpapers', backstage_wallpapers_path %>                                        
          </span>
        </div>

      </section>
    </section>
