      <section id="top-section">
        <h1 id="welcome-title">Welcome Back, <%= current_user.first_name %>!</h1>
      </section>
      <section id="grid-container">
        <div class="grid-item blockone">
          <h2>
            <%= link_to backstage_meetups_path do |meetup| %>
              <i class="far fa-star"></i> Events              
            <% end %>
          </h2>
          <ul>
            <%= render partial: "event", collection: @events %>          
          </ul>

        </div>
        <div class="grid-item mail">
          <h2>
            <%= link_to backstage_messages_path do |meetup| %>
              <i class="far fa-calendar-alt"></i> messages
            <% end %>          
          </h2>
          <ul>
            <li>link to hubspot</li>
            <li>links to individual messages</li>
          </ul>
          <ul>
            <%= render partial: "lead", collection: @leads %>          
          </ul>
        </div>
        <div class="grid-item  agenda">
          <h2>agenda</h2>
          <ul>
            <%= render partial: "agendum", collection: @agenda %>          
          </ul>
        </div>
        <div class="grid-item  tasks">
          <h2><i class="far fa-calendar-check"></i> tasks</h2>
          <%# onboarding start %>
            <%# settings %>
            <h3>update site settings</h3>

            <div class="onboarding" style="margin: 10px;">
              <div class="progress">
                <div class="progress-bar" role="progressbar" 
                      style="width: <%= @onboarding.completed_settings_steps_percentage %>%" 
                      aria-valuenow=<%= @onboarding.completed_settings_steps_percentage %> aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <p>progress: <%= @onboarding.completed_settings_steps_percentage %>%</p>

              <ul>
                <% @onboarding.site_settings_models.each do |model_name| %>
                  <li>
                    <% @onboarding.model_to_test = model_name %>
                    <% step_completed = @onboarding.settings_step_completed? %>
                    <%= onboarding_step_icon(step_completed)%>   
                    <%= link_to_edit_backstage_setting(model_name)%>
                  </li>
                <% end %>
              </ul>
            </div>

            <%# content %>
            <h3>update content</h3>
            <div class="onboarding" style="margin: 10px;">
              <div class="progress">
                <div class="progress-bar" role="progressbar" 
                      style="width: <%= @onboarding.completed_content_steps_percentage %>%" 
                      aria-valuenow=<%= @onboarding.completed_content_steps_percentage %> aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <p>progress: <%= @onboarding.completed_content_steps_percentage %>%</p>

              <ul>
                <% @onboarding.content_models.each do |model_name| %>
                  <li>
                  <% @onboarding.model_to_test = model_name %>
                  <% step_completed = @onboarding.content_step_completed? %>
                  <%= onboarding_step_icon(step_completed)%>   
                      <%= model_name.titleize %>
                      <%#= link_to_edit_backstage_setting(model_name)%>
                      
                  </li>
                <% end %>
              </ul>
            </div>

            <%# content %>
            <h3>update publisher accounts</h3>
            <div class="onboarding" style="margin: 10px;">
              <div class="progress">
                <div class="progress-bar" role="progressbar" 
                      style="width: <%= @onboarding.completed_publisher_steps_percentage %>%" 
                      aria-valuenow=<%= @onboarding.completed_publisher_steps_percentage %> aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <p>progress: <%= @onboarding.completed_publisher_steps_percentage %>%</p>

              <ul>
                <% @publisher_accts.each do |account| %>
                  <li>
                    <% @onboarding.publisher_acct = account %>
                    <% step_completed = @onboarding.publisher_acct_step_completed? %>
                    <%= onboarding_step_icon(step_completed)%>  
                    <%= link_to account.name, edit_backstage_publisher_acct_path(account) %>
                  </li>
                <% end %>
              </ul>
            </div>

          <%# onboarding finish %>
          <%= render partial: "task", collection: @tasks %>
        </div>            
        <div class="grid-item blockthree">
          <h2>
            <%= link_to backstage_publisher_accts_path do |platform| %>
              <i class="far fa-share-square"></i> platforms
            <% end %>
          </h2>
          <%#= render partial: "platform", collection: @platforms %>

        </div>
        <div class="grid-item blockfour">
          <h2><i class="far fa-comments"></i> Comments</h2>
          <%= render partial: "comment", collection: @comments %>
        </div>
        <div class="grid-item trends">
          <h2><i class="fas fa-chart-line"></i> Trending</h2>
          <p>Current stats will go here.</p>
      </section>
