<div class="backstage">


<%= render '/backstage/sidebar' %>
<section id="main-dashboard-content">
    <ul>
        <li>
            <div>
                <%= link_to 'biography page', edit_backstage_biography_path(@biography), class:"btn btn-primary" %>
            </div>
        </li>
        <li>
            <div>
                <%= link_to 'home page', edit_backstage_home_info_path(@home_info), class:"btn btn-primary" %>
            </div>
        </li>
        <li>
            <div>
                <%= link_to 'first time page', edit_backstage_first_time_path(@first_time), class:"btn btn-primary" %>
            </div>
        </li>
        <li>
            <div>
                <%= link_to 'get in contact page ', edit_backstage_get_in_contact_content_path(@get_in_contact_content), class:"btn btn-primary" %>
            </div>
        </li>
        <li>
            <div>
                <%= link_to 'hire me page', edit_backstage_hire_me_path(@get_in_contact_content), class:"btn btn-primary" %>
            </div>
        </li>
        <li>
            <div>
                <%= link_to 'podcast page', edit_backstage_podcast_path(@podcast), class:"btn btn-primary" %>
            </div>
        </li>
    </ul>
</section>

</div>

