<div class="col-lg-4 ct-global-sidebar">
    <%= render 'subscribe_widget' %>
    <%= render 'social_btns' %>
    <%= render 'aside_featured_entry' %>
    <%= render 'aside_featured_entry' %>
    <%= render 'aside_featured_entry' %>

    <div class="clearfix"></div>

    <%= render 'meetups' %>
</div>
<!-- finish global-sidebar -->