<style>
  figure {
      border: thin #c0c0c0 solid;
      display: flex;
      flex-flow: column;
      padding: 5px;
      max-width: 220px;
      margin: auto;
  }

  img {
      max-width: 220px;
      max-height: 150px;
  }

  figcaption {
      background-color: #222;
      color: #fff;
      font: italic smaller sans-serif;
      padding: 3px;
      text-align: center;
  }

  .flex {
        display: flex;
  }

  .flex-row {
    flex-direction: row;
  }

  .flex-form-group {
    min-width: max-content;
    margin:5px;
  }
</style>

<%= form_with(model: [ :backstage, first_time], local: true) do |form| %>

  <div class="form-grid">
    <div class="form-header">
      <div class="featured-entries">
        <h3>Featured Entries</h3>
        
        <%= link_to new_backstage_first_time_entry_path do %>
        <div class="new-first-time-entry">
          <i class="fas fa-plus-square"></i>&nbsp;Add one featured entry    
        </div>
        <% end %>

        <div class="flex">
          <% first_time.first_time_entries.each do |entry| %>
            <div>
              <% if entry.article_image_link.present? %>
                <%= link_to edit_backstage_first_time_entry_path(entry) do %>
                  <figure>
                    <%= image_tag entry.article_image_link, width:140, hieght:94 %>
                    <figcaption><%= entry.title.to_s %></figcaption>
                  </figure>
                <% end %>
                

              <% else %>
                <%= link_to edit_backstage_first_time_entry_path(entry) do %>
                  <figure>
                    <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpj0DBTVsaja01_xWh37bcutvpd7rh7zEd528HD0d_l6A73osY", width:140, hieght:94 %>
                    <figcaption><%= entry.title.to_s %></figcaption>
                  </figure>
                <% end %>
              <% end %>    
            </div>
          <% end %>
        
        </div>
      
      </div>


      <% if first_time.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(first_time.errors.count, "error") %> prohibited this first_time from being saved:</h2>

          <ul>
          <% first_time.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <aside class="form-sidebar-left">
            <div class="form-group">
          <%= form.label :featured_image_src %>
          <%= form.url_field :featured_image_src, 
                          class:'form-control styled',
                          placeholder:"https://example.com",
                          pattern:"https://.*",
                          minlength:"7",
                          size:"22",
                          title: "URL must be a secure link"
          %>

        </div>

        <div class="form-group">
          <%= form.label :twitter_handle %>
          <%= form.text_field :twitter_handle, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :blurb %>
          <%= form.text_area :blurb, class: 'form-control' %>
        </div>

    </aside>

    <div class="form-article">
      
        <div class="billboard flex">
          <div class="form-group flex-form-group">
            <%= form.label :billboard_image_title %>
            <%= form.text_field :billboard_image_title, class: 'form-control' %>
          </div>

          <div class="form-group flex-form-group">
            <%= form.label :billboard_image_url %>
            <%= form.url_field :billboard_image_url, 
                            class:'form-control styled',
                            placeholder:"https://example.com",
                            pattern:"https://.*",
                            minlength:"7",
                            size:"22",
                            title: "URL must be a secure link"
            %>
            
          </div>

        </div>
        
        <div class="first-and-last-name flex">
          <div class="form-group flex-form-group">
            <%= form.label :first_name %>
            <%= form.text_field :first_name, class: 'form-control' %>
          </div>

          <div class="form-group flex-form-group">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= form.label :biography %>
          <%= form.rich_text_area :biography, class: 'form-control' %>
        </div>

        <div class="youtube flex">
          <div class="form-group flex-form-group">
            <%= form.label :featured_youtube_video_url %>
            <p>(copy the the shared embed url for the youtube video)</p>
            <%= form.url_field :featured_youtube_video_url, 
                            class:'form-control styled',
                            placeholder:"https://example.com",
                            pattern:"https://.*",
                            minlength:"7",
                            size:"22",
                            title: "URL must be a secure link"
            %>

          </div>

          <div class="form-group flex-form-group">
            <%= form.label :featured_youtube_image_url %>
            <p>(the url for the clickable image to watch the youtube video)</p>
            <%= form.url_field :featured_youtube_image_url, 
                            class:'form-control styled',
                            placeholder:"https://example.com",
                            pattern:"https://.*",
                            minlength:"7",
                            size:"22",
                            title: "URL must be a secure link"
            %>            
          </div>
        
        </div>

    </div>

    <aside class="form-sidebar-right">
      &nbsp;
    </aside>
    
    <div class="form-footer">
      <%= form.submit class: 'btn btn-primary' %>

      <%= link_to "Cancel", backstage_settings_path, class: "btn btn-link" %>

    </div>
  </div>

<% end %>

