<div id="post-<%= first_time_entry.id %>" class="ct-articleunit ct-articleunit-pg">
    <div class="ct-articleunit-content">
        <div class="ct-articleunit-thumb">
            <%= link_to first_time_entry.article_link do %>
                <%= image_tag first_time_entry.article_image_url, class: "attachment-ad-unit-size size-ad-unit-size wp-post-image" %>
            <% end %>                    
        </div>

        <h3 class="h2 ct-liner-simple">
            <%= link_to first_time_entry.title, first_time_entry.article_link %>
            
        </h3>
    </div>
    <div class="ct-articleunit-footer">
        <span class="ct-articuleunit-date"><%= first_time_entry.published_on.strftime("%b %d, %Y") %></span>
        <%= link_to  first_time_entry.article_link do %>
            Read More &gt;&gt;
        
        <% end %>
        

    </div>
</div>