  <p align="center">
      <!--
      <a href="https://podcasts.apple.com/us/podcast/the-garyvee-audio-experience/id928159684" rel="noopener noreferrer" target="_blank">
          <%= image_tag 'podcast_buttons/go-carl-go-itunes-button.png',
       class: "podcastbtn img-responsive alignnone wp-image-7295 size-large",
       height: "163",
       width: "700",
       style: "margin-bottom: 3px;"
      %>
           <img alt=""
       class="podcastbtn img-responsive alignnone wp-image-7295 size-large"
       height="163"
       sizes="(max-width: 700px) 100vw, 700px"
       src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20170620210937/GV-on-itunes-button-700x163.png"
       srcset=
       "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20170620210937/GV-on-itunes-button-700x163.png 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20170620210937/GV-on-itunes-button-250x58.png 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20170620210937/GV-on-itunes-button-120x28.png 120w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20170620210937/GV-on-itunes-button.png 750w"
       style="margin-bottom: 3px;"
       width="700"> 
      </a> -->
      <a href="https://www.stitcher.com/podcast/go-carl-go" rel="noopener noreferrer" target="_blank">
          <%= image_tag 'podcast_buttons/go-carl-go-stitcher.png',
       class: "podcastbtn img-responsive alignnone wp-image-7295 size-large",
       height: "163",
       width: "700",
       style: "margin-bottom: 3px;"
     %>

      </a>

      <a href="https://soundcloud.com/gocarlgo/tracks" rel="noopener noreferrer" target="_blank">
          <%= image_tag 'podcast_buttons/go-carl-go-soundcloud.png',
          class: "podcastbtn img-responsive alignnone wp-image-6202",
          height: "163",
          width: "700",
       style: "margin-bottom: 3px;"
        %>
      </a>

      <!--
      <a href="https://overcast.fm/itunes928159684/the-garyvee-audio-experience" rel="noopener noreferrer" target="_blank">
          <%= image_tag 'podcast_buttons/go-carl-go-itunes-button.png',
       class: "podcastbtn img-responsive alignnone wp-image-7295 size-large",
       height: "163",
       width: "700",
       style: "margin-bottom: 3px;"

     %>
      </a>
      -->
      <%# Try again after the first podcast is done.       %>
      <!--
      <a href="https://www.iheart.com/show/263-the-askgaryvee-show/" rel="noopener noreferrer" target="_blank">
          <%= image_tag 'podcast_buttons/go-carl-go-iheart.png',
       class: "podcastbtn img-responsive alignnone wp-image-7295 size-large",
       height: "163",
       width: "700",
       style: "margin-bottom: 3px;"
     %>
      </a>
      -->
      <a href="https://open.spotify.com/show/7zkNXS6pqQPXSUnceIW4VE" rel="noopener noreferrer" target="_blank">
          <%= image_tag 'podcast_buttons/go-carl-go-spotify-button-3.png',
       class: "podcastbtn img-responsive alignnone wp-image-7295 size-large",
       height: "163",
       width: "700",
       style: "margin-bottom: 3px;"
     %>
      </a>

      <%#        needs web work %>
      <!--
      <a href="https://www.google.com/podcasts?feed=aHR0cDovL2Fza2dhcnl2ZWUuZ2FyeXZlZS5saWJzeW5wcm8uY29tL3Jzcw%3D%3D" rel="noopener noreferrer" target="_blank">
          <%= image_tag 'podcast_buttons/go-carl-go-google-podcast.png',
       class: "podcastbtn img-responsive alignnone wp-image-7295 size-large",
       height: "163",
       width: "700",
       style: "margin-bottom: 3px;"
     %>
      </a>
      -->
      <%#    we need to hear back    %>
      <!--
      <a href="https://tunein.com/radio/The-GaryVee-Audio-Experience-p653815/" rel="noopener noreferrer" target="_blank">
          <%= image_tag 'podcast_buttons/go-carl-go-TuneIn.png',
       class: "podcastbtn img-responsive alignnone wp-image-7295 size-large",
       height: "163",
       width: "700",
       style: "margin-bottom: 3px;"
     %>
      </a>
      -->

      <%#    the podcast needs more exposure first    %>
      <!--
      <a href="https://www.acast.com/askgaryvee" rel="noopener noreferrer" target="_blank">
          <%= image_tag 'podcast_buttons/go-carl-go-acast-button.png',
       class: "podcastbtn img-responsive alignnone wp-image-7295 size-large",
       height: "163",
       width: "700",
       style: "margin-bottom: 3px;"
     %>
      </a>
-->
      <a href="https://castbox.fm/ch/3413277" rel="noopener noreferrer" target="_blank">
          <%= image_tag 'podcast_buttons/go-carl-go-Castbox.png',
       class: "podcastbtn img-responsive alignnone wp-image-7295 size-large",
       height: "163",
       width: "700",
       style: "margin-bottom: 3px;"
     %>
      </a>

      <%#  set up for google home first      %>
      <!--
      <a href="https://www.garyvaynerchuk.com/podcast/garyvee_on_google_home/" rel="noopener noreferrer" target="_blank">
          <%= image_tag 'podcast_buttons/go-carl-go-GoogleHome.png',
       class: "podcastbtn img-responsive alignnone wp-image-7295 size-large",
       height: "163",
       width: "700",
       style: "margin-bottom: 3px;"
     %>
      </a>
      -->
  </p>
