<%# start fields_for  %>
            <div class="form-group">
              <%= entry.label "Published Title" %>
              <%= entry.text_field :title, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= entry.label :seo_title %>
              <%= entry.text_field :seo_title, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= entry.label :seo_description %>
              <%= entry.text_area :seo_description, class: 'form-control' %>
            </div>


            <div class="form-group">
              <%= entry.label "Published Pinned Value" %> <p>(set to zero for it not to be pinned)</p>
              <%= entry.number_field :pinned_value, class: 'form-control' %>
            </div>


            <div class="form-group">

              <%= entry.label :publish_at %>

              <% publish_at_value =  @article.entry.publish_at %>
              <%= datetime_select("blog_article[entry_attributes]", 
                  "publish_at", 
                  ampm: true,
                  start_year: DateTime.now.year,
                  start_month: DateTime.now.month,
                  default: publish_at_value
                  # options
                  )%>
            </div>


            <div class="form-group">
              <%# check blog_entry form for code  %>
              <%= entry.label "featured_image"  %>
              <%#= form.blog_entry_image  %> 
            </div>

            <div class="form-group">
            <%# maybe use tags like in vue nested form and stitch together in controller %>
              <%= entry.label "tags"  %>

            </div>

<%# finish fields_for %>
