<%= form_with(model: blog_article, local: true) do |form| %>
  <% if blog_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog_article.errors.count, "error") %> prohibited this blog_article from being saved:</h2>

      <ul>
      <% blog_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%# 

 %>
 <script>
      // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
  </script>


<%#  %>
  <div class="flexgrid">
    <div class="write-article">
      <h3>Write something</h3>
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :body %>
        <%= form.rich_text_area :body, 
            class: 'form-control', 
            style: "min-height: 17em;
                    overflow-y: auto;
                    resize: none; /* Remove this if you want the user to resize the textarea */" 
        %>

      </div>    
    </div>
    <div class="article-settings">
      <%# start article settings %>
        <h3>Settings</h3>
        <div class="article-controls">
          <div class="form-group">
            <%= form.label :pinned_value %> <p>(set to zero for it not to be pinned)</p>
            <%= form.number_field :pinned_value, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%# publish refers to blog_entry as a child of blog_article %>
            (checkbox goes here)
            <%= form.label :publish  %>
            <%#= form.publish  %> 
          </div>

          <div class="form-group">
            <%# schedule publication date  %>
            <%# see blog_entry form for code %>
            
            <%= form.label "Publish_at"  %>
            <%#= form.publication date  %> 
          </div>

          <div class="form-group">
            <%# check blog_entry form for code  %>
            <%= form.label "featured_image"  %>
            <%#= form.blog_entry_image  %> 
          </div>

          <div class="form-group">
          <%# maybe use tags like in vue nested form and stitch together in controller %>
            <%= form.label "tags"  %>

          </div>



        </div>
      <%# finish article settings %>    
    </div>
  </div>

  <div class="form-group">
    <% if blog_article.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', blog_article, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if blog_article.persisted? %>
      <%= link_to "Cancel", blog_article, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", blog_articles_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
