<div class="page-header">
  <%= link_to blog_articles_path, class: 'btn btn-default' do %>
    All Blog_articles
  <% end %>
  <%= link_to edit_blog_article_path(@blog_article), class: 'btn btn-primary' do %>
    Edit
  <% end %>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @blog_article.title %></dd>

  <dt>Pinned Value:</dt>
  <dd><%= @blog_article.pinned_value %></dd>

  <dt>Body:</dt>
  <dd><%= @blog_article.body %></dd>

  <dt>Byline:</dt>
  <dd><%= @blog_article.user.name.full %></dd>
  <hr>

  <dt>SEO title</dt>
  <dd>
    <%= @article.entry.seo_title %>
  </dd>

  <dt>SEO description</dt>
  <dd>
    <%= @article.entry.seo_description %>
  </dd>

  <dt>Pin value</dt>
  <dd>
    <%= @article.entry.pinned_value %>
  </dd>

  <dt>Publish at</dt>
  <dd>
    <%= @article.entry.publish_at %>
  </dd>

  <dt>Image</dt>
  <dd>
    <%= image_tag @article.entry.image, width: 280 %>
  </dd>


</dl>
