<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head_original' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'shared/navbar_original' %>
    <%= render 'shared/notices' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'shared/footer_original' %>
  </body>
</html>
