
<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head_original' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <%= render 'shared/navbar_original' %>
    <%= render 'shared/notices' %>
    <div style="background-color: orange;width:100vw;height: 20px;"></div>
    
    <div class="backstage__sidebar-content-grid">
      <%= render '/backstage/sidebar' %>
      <section id="main-dashboard-content">
        <%= yield %>
      </section>
    </div>

    <%= render 'shared/footer_original' %>
  </body>
</html>
